.btn {
  border-radius: 0;
  margin-right: 24px;
  font-weight: $font-weight--regular;
  border: 0;
}

.btn-primary {
  background-color: $color-teal;
  color: $color-dark-blue;
  font-size: 16px;

  &:hover,
  &:active,
  &:visited {
    background-color: darken( $color-teal, 20% );
    color: $color-dark-blue;
  }
}

.btn-secondary {
  color: $color-white;
  border: 1px solid $color-dark-blue;
  background-color: $color-dark-blue;
  font-weight: $font-weight--bold;

  &.btn-outline {
    background-color: $color-white;
    border: 1px solid $color-dark-blue;
    color: $color-dark-blue;

    &:hover,
    &:active,
    &:visited {
      background-color: $color-dark-blue;
      color: $color-white;
    }
  }

  &:hover,
  &:active,
  &:visited {
    background-color: lighten( $color-dark-blue, 5% );
    color: $color-white;
  }
}

.btn-lg {
  padding: .5rem 3rem;
}