.jumbotron {
  height: 50vh;
  background-color: $color-primary-blue;
  color: $color-white;
  text-align: center;
  border-radius: 0;

  .hero-header {
    margin-bottom: 24px;
  }

  .hero-lead {
    font-size: 24px;
    font-weight: $font-weight--regular;
    margin-bottom: 24px;
  }
}